<div class="col-sm-6 col-sm-offset-3">
  <div class="row">
    <div class="col-sm-12">
      <div class="input-group">
        <div class="col-sm-12">
          <div id="berita"></div>
          <div ng-repeat="berita in berita.berita">
            <div class="container">
              <h2><div class="col-sm-6 col-sm-offset-2">{{berita.Judul_berita}}</div></h2>
            <div class="col-sm-6 col-sm-offset-2">{{berita.isi_berita}}</div>
            </div>
          </div>
          </div>
        <div class="col-sm-12">
        </div>
      </div>
    </div>
  </div>
</div>
