<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading"> <strong class="">Register</strong>

                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" placeholder="Username" required="" ng-model="pendaftaran.username">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <input type="password" class="form-control" placeholder="Password" required="" ng-model="pendaftaran.password">
                            </div>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" placeholder="Confirm Password" required="" ng-model="pendaftaran.confirm_password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" placeholder="Nama Lengkap" required="" ng-model="pendaftaran.nama">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="email" class="form-control" placeholder="Email" required="" ng-model="pendaftaran.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" placeholder="Telepon" required="" ng-model="pendaftaran.telepon">
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-2">
                                <button class="btn btn-default" type="button" ng-click="pendaftaran.addUser()">Daftar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
