<div class="col-sm-6 col-sm-offset-3">
  <div class="row">
    <div class="col-sm-12">
      <div class="input-group">
        <div class="col-sm-12">
          <div id="berita"></div>
            <div class="container">
              <table>
                <tr>
                  <th>Nama beasiswa</th>
                  <th>Nominal</th>
                  <th>Sumber Dana</th>
                </tr>
              <tr ng-repeat="beasiswa in beasiswa.beasiswa">
                <td>
                  {{beasiswa.nama_beasiswa}}
                </td>
                <td>
                  {{beasiswa.besaran_nominal}}
                </td>
                <td>
                  {{beasiswa.sumber_dana}}
                </td>
                </tr>
              </table>
            </div>
          </div>
          </div>
        <div class="col-sm-12">
        </div>
      </div>
    </div>
  </div>
</div>
