/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body {
    font-family:'arial';
    font-size:12px;
}
a, a:visited {
    text-decoration:none;
    color: #0000ff;
    font-weight:400;
}
.forum-content {
    width:500px;
    height:auto;
    padding:5px 10px;
}
.comments-space {
    width:90%;
    min-height:50px;
    height:auto;
    border-radius:5px;
    background:#f0f0f0;
    margin-bottom: 5px;
    padding: 3px 5px;
    text-align: justify;
}
.remaining-content span {
    display:none;
}
