<label>UKT</label>
  <select id="coba" class="form-control" ng-change="ukt.change(ukt.progdi)" ng-model="ukt.progdi">
  <option value="1">Fakultas Bahasa dan Seni</option>
  <option value="2">Fakultas Matematika IPA</option>
  <option value="3">Fakultas Teknik</option>
  <option value="4">Fakultas Sosial</option>
  <option value="5">Fakultas Ekonomi</option>
  <option value="6">Fakultas Pendidikan</option>
  <option value="7">Fakultas Olahraga</option>
  </select>
  <select id="memilih" class="form-control" ng-change="ukt.change2(ukt.infoUKT)" ng-model="ukt.infoUKT">
    <option value={{programstudi.kode_prodi}} ng-repeat="programstudi in ukt.prodi">{{programstudi.nama_prodi}}</option>
  </select>
  <table>
<tr>
  <th>Nominal UKT</th>
</tr>
<tr>
  <td ng-repeat="ukt in ukt.ukt">{{ukt.nominal_ukt}}</td>
</tr>
  </table>
