
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"> <strong class="">Data Diri</strong>
                </div>
                <div class="panel-body">
                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-12">
                          <label>Nama Sesuai Identitas</label>
                          <input type="text" class="form-control" placeholder="Nama Lengkap" ng-model="biodata.nama">
                        </div>
                    </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <label>Jenis Identitas</label>
                          <select class="form-control" ng-model="biodata.jenis_identitas">
                            <option value="1">KTP</option>
                            <option value="2">Paspor</option>
                            <option value="3">Kartu Pelajar</option>
                            <option value="4">SIM</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-12">
                            <label>Jenis Kelamin</label>
                            <select class="form-control" ng-model="biodata.jenis_kelamin">
                              <option value="pria">Pria</option>
                              <option value="wanita">Wanita</option>
                            </select>
                          </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <label>Tempat Lahir</label>
                          <input type="text" class="form-control" placeholder="Tempat Lahir" ng-model="biodata.tempat_lahir">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <label>Tanggal Lahir</label>
                          <input type="date" class="form-control" placeholder="Tanggal Lahir" ng-model="biodata.tanggal_lahir">
                        </div>
                      </div>
                      <div class="form-group last">
                          <div class="col-sm-2">
                              <button class="btn btn-default" type="button" ng-click="biodata.updatebiodata()">Lanjut</button>
                          </div>
                      </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"> <strong class="">Kontak</strong>
                </div>
                <div class="panel-body">
                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-12">
                          <label>Alamat</label>
                          <textarea class="form-control" rows="3" ng-model="biodata.alamat"></textarea>
                        </div>
                    </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <label>Provinsi</label>
                          <select class="form-control" ng-model="biodata.pro" ng-change="biodata.change5(biodata.pro)">
                            <option value="{{propinsi.kode_propinsi}}" ng-repeat="propinsi in biodata.propinsi">{{propinsi.nama_propinsi}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <label>Kabupaten/ Kota</label>
                          <select class="form-control" ng-model="biodata.kab">
                            <option value={{kabupaten.kode_kabupaten}} ng-repeat="kabupaten in biodata.kabupaten">{{kabupaten.nama_kabupaten}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <label>Agama</label>
                          <select class="form-control" ng-model="biodata.religi">
                          <option value="{{religion.kode_agama}}" ng-repeat="religion in biodata.agama">{{religion.nama_agama}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <label>Nama Ayah</label>
                          <input type="text" class="form-control" placeholder="Nama Ayah" ng-model="biodata.nama_ayah">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <label>Nama Ibu</label>
                          <input type="text" class="form-control" placeholder="Nama Ibu" ng-model="biodata.nama_ibu">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <label>Pekerjaan Ibu</label>
                          <input type="text" class="form-control" placeholder="Pekerjaan Ibu" ng-model="biodata.pekerjaanIbu">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <label>Pekerjaan Ayah</label>
                          <input type="text" class="form-control" placeholder="Pekerjaan Ayah" ng-model="biodata.pekerjaanAyah">
                        </div>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-12">
                            <label>Penghasilan Ibu</label>
                            <select class="form-control" ng-model="biodata.penghasilan_ibu">
                              <option value={{penghasilan.kode_penghasilan}} ng-repeat="penghasilan in biodata.penghasilan">{{penghasilan.range_penghasilan}}</option>
                            </select>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-12">
                            <label>Penghasilan Ayah</label>
                            <select class="form-control" ng-model="biodata.penghasilan_ayah">
                              <option value={{penghasilan.kode_penghasilan}} ng-repeat="penghasilan in biodata.penghasilan">{{penghasilan.range_penghasilan}}</option>
                            </select>
                          </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <label>Jumlah Tanggungan</label>
                          <input type="text" class="form-control" placeholder="Jumlah Tanggungan" ng-model="biodata.jumlah_tanggungan">
                        </div>
                      </div>

                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"> <strong class="">Data Pendidikan</strong>
                </div>
                <div class="panel-body">
                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-12">
                          <label>Nama Sekolah</label>
                          <input type="text" class="form-control" placeholder="Nama Sekolah" ng-model="biodata.nama_sekolah">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                          <label>Jenis pendidikan</label>
                          <select class="form-control" ng-model="biodata.jenisPendidikan">
                            <option value={{pendidikan.kode_pendidikan}} ng-repeat="pendidikan in biodata.pendidikan">{{pendidikan.tingkat_pendidikan}}</option>
                          </select>
                        </div>
                    </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <label>NPSN Sekolah</label>
                          <input type="text" class="form-control" placeholder="NPSN Sekolah" ng-model="biodata.npsn">
                        </div>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-12">
                            <label>Jurusan</label>
                            <select class="form-control" ng-model="biodata.jurusan">
                              <option value = "1">IPA</option>
                              <option value = "2">IPS</option>
                              <option value = "3">Lainnya</option>
                            </select>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-12">
                            <label>Alamat Sekolah</label>
                            <textarea class="form-control" rows="3" ng-model="biodata.alamat_sekolah"></textarea>
                          </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <label>Provinsi Sekolah</label>
                          <select class="form-control" ng-model="biodata.pros" ng-change="biodata.change5(biodata.pros)">
                            <option value="{{propinsi.kode_propinsi}}" ng-repeat="propinsi in biodata.propinsi">{{propinsi.nama_propinsi}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <label>Kabupaten/ Kota</label>
                          <select class="form-control" ng-model="biodata.kabsek">
                            <option value={{kabupaten.kode_kabupaten}} ng-repeat="kabupaten in biodata.kabupaten">{{kabupaten.nama_kabupaten}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group last">
                          <div class="col-sm-2">
                              <button class="btn btn-default" type="button" ng-click="biodata.updatebiodata()">Lanjut</button>
                          </div>
                      </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
